<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Team [TEAM NAME] Website</title>
  <meta name="HandheldFriendly" content="True" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover" />
<style>
    .square {
    height: 40px;
    width: px;
    background-color: DodgerBlue;
    }
    .square2 {
    height: 40px;
    width: px;
    background-color: Tomato;
    }
    .square3 {
    height: 180px;
    width: px;
    background-color: lightgrey;
    }
    .square4 {
    height: 150px;
    width: px;
    background-color: blue;
    }
</style>
</head>
<body>
<div class="square">
  <h1 style="color: white">Welcome to New team application</h1>
 </div>
 <div class="square2">
  <h1 style="color: white">Event List</h1>
 </div>
 <div style="width:;height:400px;line-height:3em;overflow:scroll;padding:5px;background-color:#FCFADD;color:#714D03;border:4px double #DEBB07;">
{{{body}}}
 </div>
<div class="square4">
    <h2>Add an event</h2>
    <form action="/event" method="post">
       title: <input name="title" type="text"> <br>
       description: <input name="description" type="text"> <br>
       comment: <input name="comment" type="text"> <br>
       <br>
        <input name="submit" type="submit" value="submit">
    </form>
</div>
</body>